body {
    height: 100vh; /* 设置body的高度为视口的高度 */
    width: 100vw; /* 设置body的宽度为视口的宽度 */
    margin: 0; /* 可以去除默认的外边距 */
    padding: 0; /* 可以去除默认的内边距 */
  }

  .map {
      height: 100%;
      width: 100%;
  }